
@{
    ViewBag.Title = "KetQua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">
    <h2>Kết quả</h2>
    <table>
        <tr>
            <th>Mã sản phẩm</th>
            <td>@ViewBag.MaSanPham</td>
        </tr>
        <tr>
            <th>Tên Sản phẩm</th>
            <td>@ViewBag.TenSanPham</td>
    
        </tr>
        <tr>
            <th>Thành tiền</th>
            <td>@ViewBag.ThanhTien</td>
        </tr>
    </table>
</div>